.navbar {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 9;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);
  background-color: $bgColor--cultured;

  &__logo {
    display: table;
    color: $textColor--japanese-indigo;
    transition: all 0.2s ease-in-out;
    letter-spacing: 2px;
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 16px;

    @media screen and (max-width: 375px) {
      font-size: 1rem;
      line-height: 1rem;
    }

    &:hover {
      color: $textColor--sea-blue;
      transition: all 0.2s ease-in-out;
      background-color: $bgColor--anti-flash-white;
    }
  }

  &__name,
  &__lastName {
    display: table-cell;
  }

  &__name {
    padding-right: 0;
  }

  &__lastName {
    padding-left: 8px;
  }

  &__menu {
    display: flex;
    height: inherit;
    display: flex;
    justify-content: center;
    vertical-align: middle;
    padding-right: 16px;

    @media screen and (max-width: 625px) {
      display: none;
    }
  }

  &__menuItem {
    display: table;
  }

  &__menuLink {
    display: table-cell;
    vertical-align: middle;
    font-size: 0.875rem;
    letter-spacing: 0.0892857143em;
    padding: 20px 16px;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);

    &:hover {
      background-color: $bgColor--bright-gray;
      transition: all 0.2s cubic-bezier(0.4, 0, 0.6, 1);
    }
  }

  &__active {
    background-color: $bgColor--gainsboro;
  }
}
