/*
** background colors
*/
$bgColor--cultured: #f5f5f5;
$bgColor--bright-gray: #ededee;
$bgColor--gainsboro: #dedfe1;
$bgColor--white-primary: #ffffff;
$bgColor--blue-jeans: #5db1e9;
$bgColor--japanese-indigo: #2c3e50;
$bgColor--roman-silver: #84939f;
$bgColor--raisin-black: #212121;
$bgColor--purple-mountain-majesty: #a179af;
$bgColor--bright-gray: #ededee;
$bgColor--anti-flash-white: #ebf2f5;
$bgColor--cultured-light: #f5f8fa;

/*
** border colors
*/
$borderColor--chinese-silver: #cccccc;

/*
** font colors
*/
$textColor--japanese-indigo: #2c3e50;
$textColor--roman-silver: #84939f;
$textColor--white-primary: #ffffff;
$textColor--sea-blue: #007199;
$textColor--arsenic: #3a4145;

/*
** box-shadow
*/
$boxShadow--primary: -2px 2px 6px #2328d8;
