@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Montserrat:wght@400;500;700&family=Open+Sans:wght@400;500;700&display=swap');

.header {
  padding: 32px;
  background-color: $bgColor--cultured-light;
  margin: auto;
  text-align: center;

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    margin-bottom: 32px;
  }

  &__title {
    font-size: 3rem;
    font-weight: 700;
    color: $textColor--arsenic;
    font-family: 'Open Sans', sans-serif;

    @media screen and (max-width: 480px) {
      font-size: 2rem;
    }
  }
}
