.header {
  min-height: 500px;
  position: relative;
  background: url('../assets/images/header-bg.jpg'), #4495e6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;

  &__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    padding: 0 20px;
  }

  &__title {
    display: block;
    font-size: 6rem !important;
    line-height: 6rem;
    margin: 18px 0;
    color: $textColor--white-primary;

    @media screen and (max-width: 768px) {
      font-size: 4rem !important;
      line-height: 4rem;
    }

    @media screen and (max-width: 485px) {
      font-size: 3rem !important;
      line-height: 3rem;
    }

    @media screen and (max-width: 375px) {
      font-size: 2rem !important;
      line-height: 2rem;
    }
  }

  &__lines {
    border-bottom: 2px solid rgb(233, 81, 81);
    border-top: 2px solid rgb(233, 81, 81);
    height: 10px;
    transform: skew(-20deg) !important;
    max-width: 12em;
    margin: auto;

    @media screen and (max-width: 525px) {
      max-width: 5em;
      border-bottom: 0.2em solid rgb(233, 81, 81);
      border-top: 0.2em solid rgb(233, 81, 81);
      height: 0.6em;
    }
  }
}
